
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeveloperInfo</title>
</head>
<body>
    <div> 
        MJ Hadi<br />
        Java Developer
    </div>
</body>
</html>
