@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "FarjadV";
}

<h2>متن نمونه برای اکشن جدید در مثالی دیگر از ویو</h2>

<p> و این هم متن برای پاراگراف. شما می تونید تا دلتون بخواد از کدهای اچ تی ام اس استفادهن کنید</p>
<p><b> و یا یک پاراگراف دیگه که بولد میشه</b></p>