@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>اینم یه متن نمونه ی دیگه</h2>

<p> و این هم متن برای پاراگراف. شما می تونید تا دلتون بخواد از کدهای اچ تی ام اس استفادهن کنید</p>
